@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Chilanka&family=Libertinus+Sans:ital,wght@0,400;0,700;1,400&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Spectral:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Chilanka&family=Libertinus+Sans:ital,wght@0,400;0,700;1,400&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Spectral:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: "Chilanka", cursive;
}
/* first header starts here */
.header-one {
    background-color: rgba(255, 255, 255, 1);
    height: 92px;
    display: flex;
    margin-left: 113px;
    margin-top: 33px;
}
.search-bar {
    padding-left: 123px;
    position: relative;
    display: flex;
}
#search-form {
    height: 59px;
    width: 528px;
    padding-left: 36px;
    border-radius: 5px;
    border: 1px solid rgba(173, 181, 189, 1);
    font-size: 16px;
    font-family: "Montserrat", sans-serif;
}
.search-icon {
    position: absolute;
    right: 18px;
    top: 19px;
}
.phone-header {
    font-size: 20px;
    padding-left: 59px;
    padding-top: 5px;
}
.phone-header span {
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    padding-left: 100px;
    font-weight: 200;
}
.phone-header p {
    padding-top: 6px;
    font-weight: 10;
}
.email-header {
    font-size: 20px;
    padding-left: 51px;
    padding-top: 5px;
}
.email-header span {
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    padding-left: 125px;
    font-weight: 200;
}
.email-header p {
    padding-top: 6px;
    font-weight: 10;
}
.header-line {
    width: 97%;
    margin-left: 22px;
}
/* first header ends here */
/* Second Header starts here */
.header-two {
    background-color: rgba(255, 255, 255, 1);
    height: 63px;
    width: 100%;
    display: flex;
    /* position: sticky; */
}
.first-dropdown {
    margin-left: 113px;
    margin-top: 21px;
}
.first-dropdown select {
    border: none;
    font-family: "Chilanka", cursive;
    font-size: 16px;
}
.list-items {
    display: flex;
}
.navigation-menu-change:hover {
    color: #e0a95c;
}
.header-navigation {
    margin-left: 61px;
    margin-top: 22px;
}
.header-navigation a{
    text-decoration: none;
    color: #41403e;
}
.header-navigation > ul {
    margin-left: 200px;
}
.header-navigation ul > li {
    list-style-type: none;
    padding-left: 32px;
    position: relative;
}
.header-navigation ul li > ul {
    display: none;
}

.header-navigation ul li ul > li {
    padding: 15px;
}
.header-navigation ul li ul > li:hover {
    background-color: #e6e6e6;
}
.header-navigation ul li ul {
    position: absolute;
    outline: 1px solid #e6e6e6;
    width: 150px;
    border-radius: 5px;
    background-color: white;
    padding-top: 8px;
}
.pages:hover ul {
    display: block;
}
.mdi--user {
    display: inline-block;
    width: 25px;
    height: 25px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='M12 4a4 4 0 0 1 4 4a4 4 0 0 1-4 4a4 4 0 0 1-4-4a4 4 0 0 1 4-4m0 10c4.42 0 8 1.79 8 4v2H4v-2c0-2.21 3.58-4 8-4'/%3E%3C/svg%3E");
}
.mdi--heart {
    display: inline-block;
    width: 25px;
    height: 25px;
    padding-left: 80px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='m12 21.35l-1.45-1.32C5.4 15.36 2 12.27 2 8.5C2 5.41 4.42 3 7.5 3c1.74 0 3.41.81 4.5 2.08C13.09 3.81 14.76 3 16.5 3C19.58 3 22 5.41 22 8.5c0 3.77-3.4 6.86-8.55 11.53z'/%3E%3C/svg%3E");
}
.mdi--cart {
    display: inline-block;
    width: 25px;
    height: 25px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='M17 18c-1.11 0-2 .89-2 2a2 2 0 0 0 2 2a2 2 0 0 0 2-2a2 2 0 0 0-2-2M1 2v2h2l3.6 7.59l-1.36 2.45c-.15.28-.24.61-.24.96a2 2 0 0 0 2 2h12v-2H7.42a.25.25 0 0 1-.25-.25q0-.075.03-.12L8.1 13h7.45c.75 0 1.41-.42 1.75-1.03l3.58-6.47c.07-.16.12-.33.12-.5a1 1 0 0 0-1-1H5.21l-.94-2M7 18c-1.11 0-2 .89-2 2a2 2 0 0 0 2 2a2 2 0 0 0 2-2a2 2 0 0 0-2-2'/%3E%3C/svg%3E");
}
.profile {
    position: relative;
    padding-left: 265px;
    padding-top: 19px;
    padding-right: 10px;
}
.profile > span {
    background-color: #e0a95c;
    border-radius: 50%;
    color: white;
    font-size: 12px;
    padding-top: 6px;
    width: 27px;
    height: 22px;
    text-align: center;
    position: absolute;
    top: 8px;
    right: 0px;
}
.profile a{
    color: black;
}
/* second header ends here */
.banner {
    background-color: #f9f3ec;
    height: 755px;
    display: flex;
}
.banner img {
    margin-left: 113px;
    margin-top: 45px;
}
.ad-text {
    margin-top: 197px;
    margin-left: 60px;
}
.offer {
    font-family: "Montserrat", sans-serif;
    color: #e0a95c;
    font-weight: 300;
}
.banner p {
    display: flex;
    flex-direction: column;
}
.description {
    font-size: 80px;
    margin-top: 35px;
    color: #41403e;
}
.description-shop-now-button {
    margin-top: 17px;
}
.shop-now {
    margin-top: 20px;
}
.shop-now-button {
    background-color: inherit;
    border: 1px solid #41403e;
    border-radius: 5px;
    height: 68px;
    width: 212px;
    font-family: "Chilanka", cursive;
    font-size: 16px;
    color: #41403e;
}
.shop-now-button:hover {
    background-color: #41403e;
    color: white;
    border: 1px solid #41403e;
    transition: 0.5s ease-in-out;
}
.carousel {
    display: flex;
    margin-top: 155px;
    margin-left: 24px;
}
.carousel-one {
    background-color: #41403e;
    height: 15px;
    width: 15px;
    border-radius: 50%;
}
.carousel-two {
    border: 1px solid #41403e;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    margin-left: 16px;
}
.carousel-two:hover {
    background-color: #41403e;
    border: none;
    transition: 0.2s ease-in;
}
.ph--bowl-food {
    display: inline-block;
    /* inline block used by the icon's website */
    width: 100px;
    height: 100px;
    opacity: 0.6;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 256 256'%3E%3Cpath fill='%23d79f56' d='M224 104h-8.37a88 88 0 0 0-175.26 0H32a8 8 0 0 0-8 8a104.35 104.35 0 0 0 56 92.28V208a16 16 0 0 0 16 16h64a16 16 0 0 0 16-16v-3.72A104.35 104.35 0 0 0 232 112a8 8 0 0 0-8-8m-24.46 0h-51.42a71.84 71.84 0 0 1 41.27-29.57A71.45 71.45 0 0 1 199.54 104m-26.06-47.77q2.75 2.25 5.27 4.75a87.92 87.92 0 0 0-49.15 43h-29.5A72.26 72.26 0 0 1 168 56c1.83 0 3.66.09 5.48.23M128 40a72 72 0 0 1 19 2.57A88.36 88.36 0 0 0 83.33 104H56.46A72.08 72.08 0 0 1 128 40m36.66 152a8 8 0 0 0-4.66 7.3v8.7H96v-8.7a8 8 0 0 0-4.66-7.3a88.29 88.29 0 0 1-51-72h175.29a88.29 88.29 0 0 1-50.97 72'/%3E%3C/svg%3E");
}
.ph--bird {
    display: inline-block;
    width: 100px;
    height: 100px;
    opacity: 0.6;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 256 256'%3E%3Cpath fill='%23d79f56' d='M176 68a12 12 0 1 1-12-12a12 12 0 0 1 12 12m64 12a8 8 0 0 1-3.56 6.66L216 100.28V120a104.11 104.11 0 0 1-104 104H24a16 16 0 0 1-12.49-26l.1-.12L96 96.63V76.89c0-33.42 26.79-60.73 59.71-60.89h.29a60 60 0 0 1 57.21 41.86l23.23 15.48A8 8 0 0 1 240 80m-22.42 0L201.9 69.54a8 8 0 0 1-3.31-4.64A44 44 0 0 0 156 32h-.22C131.64 32.12 112 52.25 112 76.89v22.63a8 8 0 0 1-1.85 5.13L24 208h26.9l70.94-85.12a8 8 0 1 1 12.29 10.24L71.75 208H112a88.1 88.1 0 0 0 88-88V96a8 8 0 0 1 3.56-6.66Z'/%3E%3C/svg%3E");
}
.ph--dog {
    display: inline-block;
    width: 100px;
    height: 100px;
    opacity: 0.6;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 256 256'%3E%3Cpath fill='%23d79f56' d='m239.71 125l-16.42-88a16 16 0 0 0-19.61-12.58l-.31.09L150.85 40h-45.7L52.63 24.56l-.31-.09a16 16 0 0 0-19.61 12.58L16.29 125a15.77 15.77 0 0 0 9.12 17.52a16.3 16.3 0 0 0 6.71 1.48a15.5 15.5 0 0 0 7.88-2.16V184a40 40 0 0 0 40 40h96a40 40 0 0 0 40-40v-42.15a15.5 15.5 0 0 0 7.87 2.16a16.3 16.3 0 0 0 6.72-1.47a15.77 15.77 0 0 0 9.12-17.54M32 128l16.43-88L90.5 52.37Zm144 80h-40v-12.69l13.66-13.65a8 8 0 0 0-11.32-11.32L128 180.69l-10.34-10.35a8 8 0 0 0-11.32 11.32L120 195.31V208H80a24 24 0 0 1-24-24v-60.89L107.92 56h40.15L200 123.11V184a24 24 0 0 1-24 24m48-80l-58.5-75.63L207.57 40zm-120 12a12 12 0 1 1-12-12a12 12 0 0 1 12 12m72 0a12 12 0 1 1-12-12a12 12 0 0 1 12 12'/%3E%3C/svg%3E");
}
.ph--fish {
    display: inline-block;
    width: 100px;
    height: 100px;
    opacity: 0.6;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 256 256'%3E%3Cpath fill='%23d79f56' d='M168 76a12 12 0 1 1-12-12a12 12 0 0 1 12 12m48.72 67.64c-19.37 34.9-55.44 53.76-107.24 56.1l-22 51.41A8 8 0 0 1 80.1 256h-.51a8 8 0 0 1-7.19-5.78l-14.8-51.83l-51.8-14.83a8 8 0 0 1-1-15.05l51.41-22c2.35-51.78 21.21-87.84 56.09-107.22c24.75-13.74 52.74-15.84 71.88-15.18c18.64.64 36 4.27 38.86 6a8 8 0 0 1 2.83 2.83c1.69 2.85 5.33 20.21 6 38.85c.68 19.1-1.41 47.1-15.15 71.85m-55.18 29a52.11 52.11 0 0 1-33.4-44.78a52.09 52.09 0 0 1-44.77-33.39q-10.45 23.79-11.3 57.59a8 8 0 0 1-4.85 7.17l-35.39 15.14l34.45 9.86a8 8 0 0 1 5.49 5.5l9.84 34.44l15.16-35.4a8 8 0 0 1 7.17-4.84q33.77-.81 57.6-11.29m50.88-129.07c-14.15-3-64.1-11-100.3 14.75a81.2 81.2 0 0 0-16 15.07a36 36 0 0 0 39.35 38.44a8 8 0 0 1 8.73 8.73a36 36 0 0 0 38.47 39.34a80.8 80.8 0 0 0 15-16c25.75-36.17 17.75-86.16 14.75-100.33'/%3E%3C/svg%3E");
}
.ph--cat {
    display: inline-block;
    width: 100px;
    height: 100px;
    opacity: 0.6;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 256 256'%3E%3Cpath fill='%23d79f56' d='M96 140a12 12 0 1 1-12-12a12 12 0 0 1 12 12m76-12a12 12 0 1 0 12 12a12 12 0 0 0-12-12m60-80v88c0 52.93-46.65 96-104 96S24 188.93 24 136V48a16 16 0 0 1 27.31-11.31c.14.14.26.27.38.41L69 57a111.22 111.22 0 0 1 118.1 0l17.21-19.9c.12-.14.24-.27.38-.41A16 16 0 0 1 232 48m-16 0l-21.56 24.8a8 8 0 0 1-10.81 1.2A89 89 0 0 0 168 64.75V88a8 8 0 1 1-16 0V59.05a97.4 97.4 0 0 0-16-2.72V88a8 8 0 1 1-16 0V56.33a97.4 97.4 0 0 0-16 2.72V88a8 8 0 1 1-16 0V64.75A89 89 0 0 0 72.37 74a8 8 0 0 1-10.81-1.17L40 48v88c0 41.66 35.21 76 80 79.67v-20.36l-13.66-13.66a8 8 0 0 1 11.32-11.31L128 180.68l10.34-10.34a8 8 0 0 1 11.32 11.31L136 195.31v20.36c44.79-3.69 80-38 80-79.67Z'/%3E%3C/svg%3E");
}
.item-types {
    display: flex;
    margin-left: 98px;
    margin-top: 120px;
    margin-bottom: 150px;
}
.foodies {
    padding-left: 82px;
    padding-right: 82px;
}
.foodies h5 {
    font-size: 20px;
    font-weight: 400;
    padding-top: 10px;
    padding-left: 10px;
}
.foodies a {
    text-decoration: none;
    color: black;
}
.ph--bowl-food:hover {
    opacity: unset;
}
.ph--cat:hover {
    opacity: unset;
}
.ph--dog:hover {
    opacity: unset;
}
.ph--fish:hover {
    opacity: unset;
}
.ph--bird:hover {
    opacity: unset;
}
/* banner section ends here */
.container-clothing {
    display: flex;
    height: 60px;
}
.container-clothing h2 {
    font-size: 64px;
    font-weight: 400 !important;
    color: #41403e;
    margin-left: 113px;
    width: 100%;
}
.clothing-shop-now {
    padding-left: 736px;
}
.hoodie-shopping-list {
    display: flex;
    margin-left: 85px;
    margin-bottom: 155px;
    flex-wrap: wrap;  
}
.grey-hoodie-shopping-list {
    padding-left: 30px;
    padding-top: 45px;
}
.shop-grey-hoodie {
    position: relative;
    transition: transform 0.3s ease;
}
.shop-grey-hoodie:hover {
    transform: scale(1.03);
}
.grey-hoodie-shopping-list img {
    border-radius: 15px;
}
.shop-grey-hoodie > span {
    position: absolute;
    left: 15px;
    top: 15px;
    outline: 1px solid hsla(0, 0%, 45%, 0.5);
    height: 32px;
    width: 65px;
    text-align: center;
    color: #41403e;
    padding-top: 8px;
    border-radius: 8px;
}
.material-symbols--star-rounded {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='hsla(34, 63%25, 65%25, 1)' d='m12 17.275l-4.15 2.5q-.275.175-.575.15t-.525-.2t-.35-.437t-.05-.588l1.1-4.725L3.775 10.8q-.25-.225-.312-.513t.037-.562t.3-.45t.55-.225l4.85-.425l1.875-4.45q.125-.3.388-.45t.537-.15t.537.15t.388.45l1.875 4.45l4.85.425q.35.05.55.225t.3.45t.038.563t-.313.512l-3.675 3.175l1.1 4.725q.075.325-.05.588t-.35.437t-.525.2t-.575-.15z'/%3E%3C/svg%3E");
}
.material-symbols--star-outline-rounded {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='hsla(34, 63%25, 65%25, 1)' d='m8.85 16.825l3.15-1.9l3.15 1.925l-.825-3.6l2.775-2.4l-3.65-.325l-1.45-3.4l-1.45 3.375l-3.65.325l2.775 2.425zm3.15.45l-4.15 2.5q-.275.175-.575.15t-.525-.2t-.35-.437t-.05-.588l1.1-4.725L3.775 10.8q-.25-.225-.312-.513t.037-.562t.3-.45t.55-.225l4.85-.425l1.875-4.45q.125-.3.388-.45t.537-.15t.537.15t.388.45l1.875 4.45l4.85.425q.35.05.55.225t.3.45t.038.563t-.313.512l-3.675 3.175l1.1 4.725q.075.325-.05.588t-.35.437t-.525.2t-.575-.15zm0-5.025'/%3E%3C/svg%3E");
}
.ic--round-star-half {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='hsla(34, 63%25, 65%25, 1)' d='m19.65 9.04l-4.84-.42l-1.89-4.45c-.34-.81-1.5-.81-1.84 0L9.19 8.63l-4.83.41c-.88.07-1.24 1.17-.57 1.75l3.67 3.18l-1.1 4.72c-.2.86.73 1.54 1.49 1.08l4.15-2.5l4.15 2.51c.76.46 1.69-.22 1.49-1.08l-1.1-4.73l3.67-3.18c.67-.58.32-1.68-.56-1.75M12 15.4V6.1l1.71 4.04l4.38.38l-3.32 2.88l1 4.28z'/%3E%3C/svg%3E");
}
.grey-hoodie-title-text > h3 {
    font-size: 28px;
    font-weight: 400;
    padding-top: 18px;
}
.grey-hoodie-card-text {
    display: flex;
}
.grey-hoodie-card-text > span {
    padding-top: 30px;
}
.grey-hoodie-rating-points {
    padding-top: 6px;
    padding-left: 4px;
    color: hsla(0, 0%, 45%, 0.8);
}
.grey-hoodie-price {
    margin-top: 5px;
}
.grey-hoodie-price h3 {
    font-family: "Montserrat", sans-serif;
    color: #e0a95c;
    font-size: 28px;
    font-weight: 300;
}
.add-to-cart-button-class {
    display: flex;
    position: relative;
}
.add-to-cart {
    margin-top: 17px;
}
.add-to-cart h5 {
    font-size: 20px;
    font-weight: 400;
    outline: 1px solid hsla(0, 0%, 45%, 0.3);
    width: 180px;
    height: 55px;
    text-align: center;
    padding-top: 17px;
    border-radius: 2px;
}
.add-to-cart a {
    text-decoration: none;
    color: #41403e;
}
.add-to-cart-like {
    outline: 1px solid hsla(0, 0%, 45%, 0.3);
    height: 55px;
    width: 68px;
    margin-top: 17px;
    margin-left: 20px;
    border-radius: 2px;
}
.heart-cart {
    padding-left: 70px;
    margin-top: 15px;
}
/* pet clothing section ends here */
.foodies-shop-now {
    padding-left: 252px;
}
.foodie-categories {
    margin-left: 192px;
    margin-top: 20px;
}
.foodie-categories button:hover {
    color: #e0a95c;
}
.foodie-categories-list-items {
    border: none;
    background-color: transparent;
    font-family: "Chilanka", cursive;
    font-size: 18px;
    width: 40px;
    height: 35px;
    border-bottom: 2px solid hsla(0, 0%, 45%, 0.3);
    margin-left: 30px;
}
.foodie-categories-rest:hover {
    border-bottom: 2px solid #e0a95c;
}
/* pet foodies section ends here */
/* secondary banner-type section starts here */
.secondary-banner {
    background-color: #f9f3ec;
    height: 755px;
    display: flex;
}
.secondary-banner img {
    margin-left: 150px;
    margin-top: 5px;
}
.secondary-ad-text {
    margin-top: 220px;
    margin-left: 260px;
}
.secondary-offer {
    font-family: "Montserrat", sans-serif;
    color: #e0a95c;
    font-weight: 300;
    font-size: 24px;
}
.secondary-banner p {
    display: flex;
    flex-direction: column;
}
.description {
    font-size: 80px;
    margin-top: 35px;
    color: #41403e;
}
/* secondary banner ends here */
/* testimonial section starts here */
.gridicons--quote {
    display: inline-block;
    width: 250px;
    height: 250px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='hsla(34, 63%25, 65%25, 1)' d='M11.192 15.757q0-1.32-.69-2.217q-.489-.618-1.327-.812c-.55-.128-1.07-.137-1.54-.028c-.16-.95.1-1.956.76-3.022q.992-1.598 2.558-2.403L9.372 5c-.8.396-1.56.898-2.26 1.505c-.71.607-1.34 1.305-1.9 2.094s-.98 1.68-1.25 2.69s-.345 2.04-.216 3.1c.168 1.4.62 2.52 1.356 3.35Q6.205 19 7.85 19c.965 0 1.766-.29 2.4-.878q.941-.864.94-2.368zm9.124 0q0-1.32-.69-2.217q-.49-.63-1.327-.817q-.84-.185-1.54-.022c-.16-.94.09-1.95.752-3.02q.99-1.59 2.556-2.4L18.49 5q-1.201.594-2.26 1.505a11.3 11.3 0 0 0-1.894 2.094c-.556.79-.97 1.68-1.24 2.69a8 8 0 0 0-.217 3.1c.166 1.4.616 2.52 1.35 3.35q1.1 1.252 2.743 1.252q1.45.002 2.402-.877q.941-.864.942-2.368z'/%3E%3C/svg%3E");
}
.testimonial-section {
    display: flex;
    width: 70%;
    margin-left: 190px;
    margin-top: 90px;
}
.core-of-our-practice {
    font-size: 32px;
    color: hsla(0, 0%, 45%, 0.8);
    margin-top: 100px;
    line-height: 65px;
}
.joshima-lin {
    margin-top: 19px;
}
.testimonial-carousel {
    display: flex;
    margin-left: 720px;
    margin-top: 40px;
    margin-bottom: 150px;
}
/* best selling products starts here */
.best-selling-shop-now {
    margin-left: 472px;
}
/* Best Selling Products ends here */
/* form starts here */
.form-box {
    background-color: #f9f3ec;
    height: 660px;
    margin-bottom: 146px;
}
.get-offer-on {
    font-size: 64px;
    color: #41403e;
    text-align: center;
    padding-top: 96px;
    line-height: 77px;
}
.register-it-now-form-box {
    margin-left: 445px;
    margin-top: 6px;
    z-index: 2;
}
.register-form {
    height: 62px;
    width: 633px;
    margin-bottom: 17px;
    border-radius: 4px;
    border: 1px solid hsla(0, 0%, 45%, 0.4);
    font-size: 20px;
    font-family: "Chilanka", cursive;
    padding-left: 19px;
}
.register-it-now-form-box button {
    height: 68px;
    width: 633px;
    font-size: 20px;
    font-family: "Chilanka", cursive;
    background-color: #272725;
    border: none;
    opacity: 0.9;
    color: #f9f3ec;
    border-radius: 4px;
}
.register-it-now-form-box button:hover {
    opacity: unset;
}
.paw-paw {
    position: relative;
    z-index: 0;
}
.noto-v1--paw-prints {
    display: inline-block;
    width: 240px;
    height: 240px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 128 128'%3E%3Cpath fill='%23e0a95c' d='M59.68 32.89c6.61 4.45 12.47-2.96 11.54-10.18c-.33-2.49-1.27-4.77-2.85-6.51c-2.58-2.86-7.96-3.16-9.92-.14c-3.18 4.86-4.48 12.98 1.23 16.83M41.5 26.96c7.05 3.64 12.24-4.48 10.63-11.61c-.55-2.44-1.71-4.62-3.45-6.17c-2.85-2.56-8.25-2.21-9.95 1.05c-2.75 5.24-3.29 13.56 2.77 16.73m-31.02-1.08c-3.14-1.98-8.11.38-9.36 4.02c-.76 2.21-.71 4.67.02 7.08c2.17 6.99 10.84 11.46 15.25 4.8c3.8-5.7-.85-12.68-5.91-15.9m20.11 3.55c4.16-5.17.26-12.61-4.36-16.41c-2.87-2.34-7.88-.64-9.39 2.8c-.92 2.07-1.06 4.52-.56 6.98c1.49 7.14 9.5 12.64 14.31 6.63m30.02 17.04c-2.22-7.15-10.26-10.25-15.88-10.96c-8.38-1.05-17.49 3.41-21.62 12.21c-1.66 3.54-4.01 9.78-1.78 13.77c3.08 5.47 10.82 1.97 14.54-.01c4.41-2.39 7.92-4.5 12.99-3.69l.54.09c6.41.83 14.38-1.25 11.21-11.41m7.1 40.59c-3.32-1.41-7.6 1.85-8.15 5.66c-.33 2.31.16 4.74 1.28 6.98c3.25 6.51 12.25 9.39 15.25 2c2.58-6.38-3.04-12.39-8.38-14.64m20.14-.43c3.26-6.01-1.83-12.61-7.04-15.43c-3.22-1.75-7.9.97-8.85 4.69c-.57 2.25-.31 4.71.6 7.04c2.64 6.81 11.48 10.66 15.29 3.7m39.08-14.24c-.75-2.41-2.07-4.47-3.93-5.89c-3.07-2.32-8.51-1.5-10.01 1.9c-2.4 5.49-2.37 13.88 3.98 16.49c7.37 3.06 12.07-5.5 9.96-12.5M98.28 82.58c7.34 2.3 10.92-6.74 8.16-13.5c-.95-2.32-2.44-4.28-4.36-5.49c-3.17-2-8.28-.62-9.35 2.93c-1.7 5.74-.79 14.09 5.55 16.06m16.41 10.99c-8.33-4.99-18.39-3.59-24.75 1.95c-4.27 3.73-9.2 10.78-7.05 17.96c3.05 10.2 10.82 7.47 15.66 3.2l.41-.38c3.75-3.49 7.84-3.71 12.83-4.18c4.19-.43 12.58-1.86 12.06-8.11c-.36-4.57-5.81-8.43-9.16-10.44'/%3E%3C/svg%3E");
    position: absolute;
    top: 82px;
    left: 335px;
    opacity: 0.07;
    z-index: -1;
}
/* form ends here */
/* blog section starts here */
.read-now {
    margin-left: 620px;
}
.all-three-blog-posts {
    margin-left: 103px;
    display: flex;
    margin-top: 38px;
}
.blog-posts {
    height: 680px;
    width: 440px;
    position: relative;
}
.blog-posts img {
    margin-left: 10px;
    border-radius: 15px;
}
.blog-posts > p {
    font-family: "Montserrat", sans-serif;
    color: #41403e;
    font-size: 16px;
    font-weight: 300;
    background-color: #f8f8f8;
    width: 70px;
    height: 70px;
    text-align: center;
    line-height: 30px;
    padding-top: 5px;
    border-radius: 8px;
    position: absolute;
    top: 8px;
    left: 16px;
}
.blog-posts a {
    text-decoration: none;
    color: #272725;
}
.blog-title-text {
    font-size: 28px;
    padding-left: 10px;
    padding-top: 18px;
    line-height: 33px;
}
.blog-description > p {
    font-family: "Montserrat", sans-serif;
    padding-left: 10px;
    padding-top: 15px;
    padding-bottom: 25px;
    color: hsla(0, 0%, 0%, 0.5);
}
.blog-description > a {
    font-size: 16px;
    color: hsla(0, 0%, 0%, 0.5);
    text-decoration: none;
    text-decoration: underline 2px solid hsla(0, 0%, 0%, 0.2);
    text-underline-offset: 6px;
    padding-left: 10px;
}
.blog-description > a:hover {
    text-decoration: underline 2px solid hsla(0, 0%, 0%, 0.5);
}
/* blog section ends here */
/* company promises section starts here */
.guarantee-offer-section {
    display: flex;
    margin-left: 70px;
}
.company-promises {
    margin-left: 45px;
    margin-top: 85px;
}
.cil--cart {
    display: inline-block;
    width: 22px;
    height: 22px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath fill='hsla(34, 63%25, 65%25, 1)' d='M160 96.039v32h304v63.345l-35.5 112.655H149.932L109.932 16H16v32h66.068l40 288.039h329.9L496 196.306V96.039zm16.984 272.305a64.073 64.073 0 0 0-64 64a64 64 0 0 0 128 0a64.07 64.07 0 0 0-64-64m0 96a32 32 0 1 1 32-32a32.04 32.04 0 0 1-32 32m224-96a64.073 64.073 0 0 0-64 64a64 64 0 0 0 128 0a64.07 64.07 0 0 0-64-64m0 96a32 32 0 1 1 32-32a32.04 32.04 0 0 1-32 32'/%3E%3C/svg%3E");
}
.iconoir--user-badge-check {
    display: inline-block;
    width: 30px;
    height: 30px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cg fill='none' stroke='hsla(34, 63%25, 65%25, 1)' stroke-width='1.5'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' d='M2 20v-1a7 7 0 0 1 7-7v0'/%3E%3Cpath d='M15.804 12.314a1.62 1.62 0 0 1 2.392 0c.325.356.79.549 1.272.526a1.62 1.62 0 0 1 1.692 1.692c-.023.481.17.947.526 1.272c.705.642.705 1.75 0 2.392c-.356.325-.549.79-.526 1.272a1.62 1.62 0 0 1-1.692 1.692a1.62 1.62 0 0 0-1.272.526a1.62 1.62 0 0 1-2.392 0a1.62 1.62 0 0 0-1.272-.526a1.62 1.62 0 0 1-1.692-1.692a1.62 1.62 0 0 0-.527-1.272a1.62 1.62 0 0 1 0-2.392c.357-.325.55-.79.527-1.272a1.62 1.62 0 0 1 1.692-1.692c.481.023.947-.17 1.272-.527Z'/%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' d='m15.364 17l1.09 1.09l2.182-2.18M9 12a4 4 0 1 0 0-8a4 4 0 0 0 0 8'/%3E%3C/g%3E%3C/svg%3E");
}
.flowbite--tag-outline {
    display: inline-block;
    width: 30px;
    height: 30px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='none' stroke='hsla(34, 63%25, 65%25, 1)' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M15.583 8.445h.01M10.86 19.71l-6.573-6.63a.993.993 0 0 1 0-1.4l7.329-7.394A.98.98 0 0 1 12.31 4l5.734.007A1.97 1.97 0 0 1 20 5.983v5.5a1 1 0 0 1-.316.727l-7.44 7.5a.974.974 0 0 1-1.384.001Z'/%3E%3C/svg%3E");
}
.simple-line-icons--badge {
    display: inline-block;
    width: 28px;
    height: 28px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1024 1024'%3E%3Cpath fill='hsla(34, 63%25, 65%25, 1)' d='M1021.06 839.968L833.798 493.664c19.104-43.36 29.792-91.28 29.792-141.696C863.59 157.664 706.07.16 511.782.16c-194.336 0-351.84 157.52-351.84 351.808c0 51.632 11.216 100.624 31.184 144.784L3.03 839.808c-6.065 11.024-5.057 24.624 2.527 34.688c7.6 10.033 20.432 14.752 32.687 11.873l160.624-36.848l54.976 153.12c4.288 11.904 15.152 20.16 27.744 21.088c.817.064 1.6.096 2.368.096a32 32 0 0 0 28.192-16.88L475.844 701.97a355 355 0 0 0 35.92 1.808c11.12 0 22.095-.576 32.943-1.6l167.248 305.008a31.98 31.98 0 0 0 30.56 16.527c12.56-1.008 23.376-9.248 27.631-21.088l54.976-153.12l160.624 36.848c12.32 2.975 25.024-1.809 32.624-11.809c7.632-9.984 8.656-23.52 2.688-34.576zm-731.282 73.376L249.52 801.183c-5.504-15.248-21.471-24.128-37.28-20.368l-118.8 27.248l135.41-246.976c44.592 60.24 107.952 105.68 181.44 127.793zm-65.553-561.377c0-158.544 129.009-287.536 287.568-287.536c158.544 0 287.536 128.992 287.536 287.536S670.337 639.535 511.793 639.535c-158.576 0-287.568-129.024-287.568-287.568m587.52 428.847c-15.872-3.744-31.776 5.12-37.28 20.367l-40.529 112.976l-123.152-224.56c75.44-22.096 140.337-68.735 185.505-130.735L931.137 808.19z'/%3E%3C/svg%3E");
}
.promise-title {
    font-size: 28px;
    margin-top: 23px;
    width: 288px;
    height: 40px;
}
.promise-description {
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    color: hsla(0, 0%, 0%, 0.5);
    width: 288px;
    height: 38px;
}
.cart-icon {
    width: 70px;
    height: 70px;
    border: 1px solid hsla(0, 0%, 0%, 0.3);
    border-radius: 50%;
    padding-left: 23px;
    padding-top: 23px;
}
.user-badge-icon {
    width: 70px;
    height: 70px;
    border: 1px solid hsla(0, 0%, 0%, 0.3);
    border-radius: 50%;
    padding-left: 21px;
    padding-top: 18px;
}
.flowbite-icon {
    width: 70px;
    height: 70px;
    border: 1px solid hsla(0, 0%, 0%, 0.3);
    border-radius: 50%;
    padding-left: 18px;
    padding-top: 20px;
}
.badge-icon {
    width: 70px;
    height: 70px;
    border: 1px solid hsla(0, 0%, 0%, 0.3);
    border-radius: 50%;
    padding-left: 20px;
    padding-top: 20px;
}
/* company promises section starts here */
/* insta section starts here */
.list-insta-images {
    display: flex;
}
.instagram-images {
    margin-top: 175px;
    display: flex;
    position: relative;
    width: 253px;
    height: 252px;
}
.instagram-images img {
    border-radius: 10px;
}
.insta-logo {
    font-size: 35px;
    position: absolute;
    padding-top: 100px;
    padding-left: 100px;
    opacity: 0;
    transition: 0.3s ease;
    text-decoration: none;
    width: 253px;
    height: 252px;
}
.insta-logo a {
    text-decoration: none;
    color: white;
}
.insta-logo:hover {
    opacity: unset;
}
/* footer section starts here */
.footer-section {
    width: 1320px;
    height: 313px;
    margin-top: 95px;
    margin-left: 100px;
    display: flex;
}
.footer-first-part img {
    margin-top: 50px;
    margin-left: 13px;
}
.footer-first-part p {
    color: hsla(0, 0%, 45%, 0.8);
    font-family: "Montserrat", sans-serif;
    margin-left: 12px;
    margin-top: 8px;
}
.socials-footer {
    display: flex;
    margin-top: 22px;
    margin-left: 4px;
}
.social-icons {
    height: 40px;
    width: 40px;
    color: hsla(0, 0%, 45%, 0.5);
    border: 1px solid hsla(0, 0%, 45%, 0.5);
    border-radius: 50%;
    text-align: center;
    padding-top: 12px;
    margin-left: 10px;
    box-shadow: hsla(0, 0%, 45%, 0.2) 0px 1px 4px;;
    transition: 0.2s ease;
}
.socials-footer a {
    text-decoration: none;
}
.social-icons:hover {
    background-color: #e0a95c;
    color: #f9f3ec;
    border: none;
    transform: scale(1.2);
}
.footer-mid-part {
    margin-left: 58px;
    margin-top: 50px;
    margin-right: 120px;
}
.footer-mid-part ul li {
    list-style-type: none;
    padding-top: 15px;
}
.footer-mid-part ul a {
    text-decoration: none;
    color: #272725;
}
.footer-head h3 {
    font-weight: 400;
    font-size: 28px;
}
.footer-mid-part ul li:hover {
    color: #e0a95c;
}
.footer-last-part {
    margin-top: 49px;
    margin-left: 62px;
}
.footer-last-part p {
    font-family: "Montserrat", sans-serif;
    margin-top: 14px;
    color: hsla(0, 0%, 45%, 0.8);
}
.newsletter-email {
    margin-top: 12px;
    height: 57px;
    width: 305px;
    border-radius: 50px;
    border: 1px solid hsla(0, 0%, 45%, 0.5);
    font-size: 16px;
    font-family: "Montserrat", sans-serif;
    padding-left: 26px;
}
.lets-icons--send-duotone-line {
    display: inline-block;
    width: 30px;
    height: 30px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23fff' fill-opacity='1' stroke='%23fff' d='m16.205 5.265l-6.49 2.164c-1.634.544-2.45.816-2.776 1.129a2 2 0 0 0 0 2.884c.325.313 1.142.585 2.775 1.13c.33.11.494.164.64.241a2 2 0 0 1 .833.833c.077.146.132.31.242.64c.544 1.633.816 2.45 1.129 2.775a2 2 0 0 0 2.884 0c.313-.325.585-1.142 1.13-2.775l2.163-6.491c.552-1.656.828-2.484.391-2.921s-1.265-.161-2.92.39Z' stroke-width='1'/%3E%3C/svg%3E");
    text-align: center;
    padding-top: 47px;
    padding-left: 40px;
}
.newsletter-enter-email {
    position: relative;
}
.send-icon {
    background-color: #e0a95c;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    position: absolute;
    top: 17px;
    right: 5px;
}
.copyrights {
    margin-left: 115px;
    color: hsla(0, 0%, 45%, 0.8);
    width: 85%;
    height: 40px;
    display: flex;
}
.copyrights-footer {
    font-family: "Montserrat", sans-serif;
    margin-top: 22px;
}
.template-credit {
    margin-left: 784px;
}
.template-credit a {
    color: hsla(0, 0%, 45%, 0.8);
    font-weight: 700;
}
.footer-line {
    width: 85%;
    margin-left: 110px;
}
#category:hover {
    color: #e0a95c;
}
.top-arrow {
    background-color: #e0a95c;
    height: 40px;
    width: 40px;
    text-align: center;
    border-radius: 50%;
    padding-top: 10px;
    position: fixed;
    right: 15px;
    bottom: 25px;
}
.top-arrow > a {
    text-decoration: none;
    color: white;
}
.waggy-rights:hover {
    color: #e0a95c;
}
.template-credit a:hover {
    color: #e0a95c;
}
.template-credit:hover {
    color: #e0a95c;
}
@media only screen and (max-width:768px) {
    .resp-profile {
        display: flex;
        padding-left: 220px;
        padding-right: 0px;
    }
    .resp-header-mdi--user {
        height: 35px;
        width: 35px;    
    }
    .resp-header-mdi--heart {
        height: 35px;
        width: 35px;  
        padding-left: 105px;  
    }
    .resp-header-mdi--cart {
        height: 35px;
        width: 35px;
        padding-left: 25px;    
    }
    .resp-header-navigation {
        font-size: 22px;
        margin-left: 50px;
    }
    .resp-header-navigation > ul {
        margin-left: 100px;
    }
    .resp-header-line {
        width: 1450px;
    }
    .resp-banner {
        width: 1520px;
    }
    .resp-navigation-menu-change {
        padding-left: 5px;
    }
    .resp-shop-now-button {
        height: 75px;
        font-size: 20px;
    }
    .resp-hoodie-shopping-list {
        display: flex;
        flex-direction: column;
        margin-top: 35px;
    }
    .resp-grey-hoodie-shopping-list {
        padding-left: 450px;
        margin-top: 105px;
    }
    .resp-shop-grey-hoodie img {
        width: 602px;
        height: 550px;
    }
    .resp-grey-hoodie-title-text > h3 {
        font-size: 48px;
    }
    .resp-material-symbols--star-rounded {
        display: inline-block;
        width: 30px;
        height: 30px;
        background-repeat: no-repeat;
        background-size: 100% 100%;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='hsla(34, 63%25, 65%25, 1)' d='m12 17.275l-4.15 2.5q-.275.175-.575.15t-.525-.2t-.35-.437t-.05-.588l1.1-4.725L3.775 10.8q-.25-.225-.312-.513t.037-.562t.3-.45t.55-.225l4.85-.425l1.875-4.45q.125-.3.388-.45t.537-.15t.537.15t.388.45l1.875 4.45l4.85.425q.35.05.55.225t.3.45t.038.563t-.313.512l-3.675 3.175l1.1 4.725q.075.325-.05.588t-.35.437t-.525.2t-.575-.15z'/%3E%3C/svg%3E");
    }
    .resp-material-symbols--star-outline-rounded {
        display: inline-block;
        width: 30px;
        height: 30px;
        background-repeat: no-repeat;
        background-size: 100% 100%;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='hsla(34, 63%25, 65%25, 1)' d='m8.85 16.825l3.15-1.9l3.15 1.925l-.825-3.6l2.775-2.4l-3.65-.325l-1.45-3.4l-1.45 3.375l-3.65.325l2.775 2.425zm3.15.45l-4.15 2.5q-.275.175-.575.15t-.525-.2t-.35-.437t-.05-.588l1.1-4.725L3.775 10.8q-.25-.225-.312-.513t.037-.562t.3-.45t.55-.225l4.85-.425l1.875-4.45q.125-.3.388-.45t.537-.15t.537.15t.388.45l1.875 4.45l4.85.425q.35.05.55.225t.3.45t.038.563t-.313.512l-3.675 3.175l1.1 4.725q.075.325-.05.588t-.35.437t-.525.2t-.575-.15zm0-5.025'/%3E%3C/svg%3E");
    }
    .resp-ic--round-star-half {
        display: inline-block;
        width: 30px;
        height: 30px;
        background-repeat: no-repeat;
        background-size: 100% 100%;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='hsla(34, 63%25, 65%25, 1)' d='m19.65 9.04l-4.84-.42l-1.89-4.45c-.34-.81-1.5-.81-1.84 0L9.19 8.63l-4.83.41c-.88.07-1.24 1.17-.57 1.75l3.67 3.18l-1.1 4.72c-.2.86.73 1.54 1.49 1.08l4.15-2.5l4.15 2.51c.76.46 1.69-.22 1.49-1.08l-1.1-4.73l3.67-3.18c.67-.58.32-1.68-.56-1.75M12 15.4V6.1l1.71 4.04l4.38.38l-3.32 2.88l1 4.28z'/%3E%3C/svg%3E");
    }
    .resp-grey-hoodie-rating-points {
        font-size: 25px;
        padding-top: 0px;
    }
    .resp-grey-hoodie-price h3 {
        font-size: 40px;
    }
    .resp-add-to-cart h5 {
        width: 350px;
        height: 75px;
        padding-top: 27px;
    }
    .resp-add-to-cart-like {
        height: 75px;
        width: 100px;
        text-align: center;
        padding-top: 10px;
    }
    .resp-container-clothing {
        display: flex;
        flex-direction: column;
        height: 70px;
        width: 840px;
    }
    .resp-container-clothing h2 {
        margin-left: 680px;
    }
    .resp-pet-container-clothing h2 {
        margin-left: 550px;
    }
    .resp-pet-container-clothing {
        display: flex;
        flex-direction: column;
        height: 70px;
        width: 840px;
    }
    .resp-clothing-shop-now {
        padding-left: 750px;
        margin-top: 30px;
    }
    .resp-foodie-categories {
        margin-left: 680px;
        width: 500px;
        margin-bottom: 30px;
    }
    .resp-foodies-shop-now {
        padding-left: 750px;
        margin-bottom: 25px;
    }
    .resp-secondary-banner {
        width: 1520px;
    }
    .resp-testimonial-section {
        width: 1120px;
    }
    .resp-testimonial-carousel {
        width: 500px;
    }
    .best-selling-shop-now {
        margin-left: 750px;
        margin-top: 50px;
    }
    .resp-form-box {
        width: 1520px;
    }
    .resp-all-three-blog-posts {
        display: flex;
        flex-direction: column;
        margin-left: 550px;
        margin-top: 150px;
    }
    .resp-blog-post-section {
        display: flex;
        flex-direction: column;
    }
    .resp-blog-post-section h2 {
        margin-left: 550px;   
    }
    .resp-read-now {
        margin-top: 20px;
        margin-left: 680px;
    }
    .resp-blog-description > p {
        font-size: 20px;
        margin-top: 15px;
    }
    .resp-blog-description > a {
        font-size: 20px;
    }
    .resp-blog-posts {
        margin-top: 90px;
    }
    .resp-blog-title-text {
        font-size: 35px;
        margin-top: 10px;
    }
    .resp-paw-paw {
        margin-left: 85px;
    }
    .resp-get-offer-on {
        margin-left: 100px;
    }
    .resp-copyrights {
        width: 1290px;
    }
    .resp-footer-line {
        margin-top: 830px;
        width: 1300px;
        margin-left: 115px;
    }
    .resp-guarantee-offer-section {
        display: flex;
        flex-direction: column;
        margin-left: 600px;
        margin-bottom: 100px;
    }
    .resp-cart-icon {
        width: 140px;
        height: 140px;
    }
    .resp-cil--cart {
        width: 50px;
        height: 50px;
        padding-left: 85px;
        padding-top: 70px;
    }
    .resp-promise-title {
        font-size: 40px;
        width: 500px;
    }
    .resp-promise-description {
        font-size: 30px;
    }
    .resp-company-promises {
        margin-top: 150px;
    }
    .resp-user-badge-icon {
        width: 140px;
        height: 140px;
    }
    .resp-flowbite-icon {
        width: 140px;
        height: 140px;
    }
    .resp-badge-icon {
        width: 140px;
        height: 140px;
    }
    .resp-iconoir--user-badge-check {
        width: 50px;
        height: 50px;
        padding-left: 100px;
        padding-top: 85px;
    }
    .flowbite--tag-outline {
        width: 50px;
        height: 50px;
        padding-left: 100px;
        padding-top: 85px;
    }
    .resp-simple-line-icons--badge {
        width: 50px;
        height: 50px;
        padding-left: 100px;
        padding-top: 85px;
    }
    .resp-list-insta-images {
        display: flex;
        flex-direction: column;
        margin-left: 650px;
        margin-top: 150px;
    }
    .resp-instagram-images {
        margin-top: 50px;
    }
    .resp-footer-section {
        display: flex;
        flex-direction: column;
    }
    .resp-footer-whole-with-line {
        display: flex;
        flex-direction: column;
    }
    .resp-first-blog-posts {
        height: 600px;
    }
    .resp-footer-first-part {
        margin-left: 25px;
    }
    .resp-footer-first-part p {
        font-size: 22px;
    }
    .resp-socials-footer {
        margin-top: 30px;
    }
    .resp-social-icons {
        height: 60px;
        width: 60px;
        text-align: center;
        padding-top: 20px;
    }
    .resp-footer-head h3 {
        font-size: 40px;
    }
    .resp-footer-mid-part ul li {
        font-size: 23px;
    }
    .resp-subscribe-newsletter p {
        font-size: 22px;
    }
    .resp-newsletter-email {
        width: 400px;
        height: 64px;
        margin-top: 25px;
    }
    .resp-send-icon {
        position: absolute;
        left: 345px;
        top:35px
    }
    .top-arrow {
        visibility: hidden;
    }
    .pages i {
        visibility: hidden;
    }
}